@font-face {
  font-family: HeliosExtBlackC;
  font-display: swap;
  src: url(../fonts/HeliosExtBlackC.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: HeliosExtC;
  font-display: swap;
  src: url(../fonts/HeliosExtC-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: HeliosExtC;
  font-display: swap;
  src: url(../fonts/HeliosExtC.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-mail:before {
  content: ""
}
._icon-phone:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
:active,
:focus {
  outline: 0
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: HeliosExtC;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: HeliosExtC;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  overflow-x: hidden
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 1px
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border-radius: .3125rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative
}
.ibg>img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden
}
.title {
  font-weight: 700;
  text-align: center;
  line-height: 1.2
}
.fixbutton {
  display: none!important
}
header._header-scroll .fixbutton {
  transition: background-color .3s;
  position: fixed;
  z-index: 5;
  right: -1.5625rem;
  top: 50%;
  background-color: #fff;
  padding: 1.25rem 2.1875rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border: 2px solid #000;
  display: block!important
}
.btn {
  font-weight: 700;
  width: 100%;
  text-align: center;
  background-color: #f7ce00;
  padding: 1.25rem 0;
  transition: box-shadow .3s
}
.header {
  position: relative;
  overflow: hidden
}
.header__absolute {
  position: absolute;
  z-index: 2;
  right: 7%;
  bottom: 0
}
.header__absolute img {
  max-width: 100%
}
.header__black {
  height: 1.5rem;
  background-color: #000
}
.header__yellow {
  height: 1.125rem;
  background-color: #f7ce00
}
.header__top {
  background-color: #fff
}
.header__body {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  padding: 1.5625rem 0;
  white-space: nowrap
}
.header__phone {
  display: flex;
  align-items: center;
  gap: .75rem;
  font-family: HeliosExtBlackC;
  font-size: 1.125rem;
  line-height: 1.7;
  transition: all .2s
}
.header__phone::before {
  font-size: 1.5rem;
  color: #f7ce00;
  transition: color .3s
}
.header__logo {
  display: flex;
  align-items: center
}
.header__logo img {
  max-width: 100%;
  height: auto
}
.header__mail {
  display: flex;
  align-items: center;
  gap: .625rem;
  font-size: 1.0625rem;
  line-height: 1.7;
  transition: color .3s
}
.header__mail::before {
  transition: color .3s;
  font-size: 1.5rem;
  color: #f7ce00
}
.header__bottom {
  background: #000
}
.header__menu {
  display: flex;
  align-items: center;
  max-width: 57.5rem
}
.header__cover {
  color: #fff;
  max-width: 46.875rem;
  padding-top: 4.6875rem;
  padding-bottom: 9.375rem;
  position: relative;
  z-index: 2
}
.header__title {
  font-family: HeliosExtBlackC;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.875rem
}
.header__title_centr {
  text-align: center
}
.header__title_right {
  text-align: right
}
.header__subtitle {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1px
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-weight: 600;
  gap: 1.875rem
}
.header__btn {
  display: block;
  max-width: 19.375rem
}
.menu {
  padding: 1.25rem 0;
  color: #fff;
  position: relative;
  z-index: 5
}
.menu-open .menu {
  color: #000;
  text-transform: uppercase
}
.menu__body {
  width: 100%
}
.menu__list {
  display: flex;
  justify-content: space-between;
  gap: .9375rem
}
.menu-open .menu__list {
  gap: 1.875rem;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.2
}
.swiper-pagination-bullets {
  margin-top: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  height: 1.25rem
}
.swiper-pagination-bullet {
  cursor: pointer;
  width: .625rem;
  height: .625rem;
  background-color: rgba(255,255,255,.4);
  border-radius: 50%
}
.swiper-pagination-bullet-active {
  background-color: #f7ce00
}
.footer {
  color: #fff;
  line-height: 1.4
}
.footer__image {
  padding: 3.125rem 0 5.9375rem 0
}
.footer__container {
  max-width: 112.5rem
}
.footer__title {
  font-size: .8125rem;
  margin-bottom: .625rem
}
.footer__content {
  display: flex;
  gap: 1.875rem
}
.footer__body {
  flex: 0 1 50%;
  gap: .9375rem;
  display: flex
}
.footer__contacts {
  padding-top: 2.8125rem
}
.footer__map {
  flex: 1 1 auto
}
.footer__map iframe {
  border-radius: 1.25rem;
  width: 100%;
  height: 31.25rem
}
.footer__bottom {
  border-top: 3px solid #f7ce00;
  background: #000
}
.contacts-footer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: .625rem
}
.contacts-footer__phone {
  display: flex;
  align-items: center
}
.contacts-footer__phone::before {
  transition: color .3s;
  margin-right: .3125rem
}
.contacts-footer__mail {
  display: flex;
  align-items: center
}
.contacts-footer__mail::before {
  transition: color .3s;
  margin-right: .3125rem
}
.contacts-footer__adress {
  line-height: 1
}
.column-footer {
  flex: 1 1 auto
}
.column-footer__bold {
  font-weight: 700
}
.column-footer__adress {
  max-width: 31.25rem
}
.column-footer__adress span {
  font-weight: 700
}
.bottom-footer__body {
  line-height: 1.4;
  padding: 3.125rem 0;
  text-align: center
}
.bottom-footer__seo a {
  transition: color .3s
}
.page__catalog {
  background: url(../img/catalog/bg.webp) 0 0/100% 48% no-repeat
}
.page__advantages {
  background-color: #ebecec
}
.page__delivery {
  background: url(../img/delivery/bg.webp) 100% 0/cover no-repeat;
  padding-bottom: 1.25rem;
  position: relative
}
.page__delivery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.4);
  z-index: 1
}
.page__reviews {
  background-color: #1f1b20
}
.catalog__bottom {
  text-align: center
}
.catalog__text {
  text-align: center;
  line-height: 1.5
}
.catalog__button {
  max-width: 50rem;
  margin-bottom: 4.0625rem
}
.catalog__btn {
  max-width: 19.375rem
}
.catalog__buttons {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
  margin-bottom: 3.4375rem
}
.catalog__image {
  padding: 0 .9375rem
}
.catalog__image img {
  max-width: 100%
}
.items-catalog__body {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5625rem
}
.items-catalog__card {
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  background-color: #fff;
  border-radius: 30px;
  padding: 2.375rem 0 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%
}
.items-catalog__image {
  flex: 0 0 17.5rem
}
.items-catalog__image img {
  max-width: 100%
}
.items-catalog__description {
  line-height: 1.2;
  padding: 0 1.875rem;
  font-weight: 700
}
.advantages__body {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.875rem;
  justify-items: center
}
.item-advantages {
  max-width: 11.875rem
}
.item-advantages__image {
  margin-bottom: .9375rem
}
.item-advantages__image img {
  max-width: 100%
}
.item-advantages__description {
  font-size: 1.3125rem;
  text-align: center
}
.delivery__container {
  position: relative;
  z-index: 2
}
.delivery__title {
  margin-bottom: 3.125rem
}
.delivery__list {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
  line-height: 1.2;
  margin-bottom: 1.25rem
}
.delivery__item {
  display: flex
}
.delivery__item img {
  width: 100%;
  max-width: 2.8125rem;
  height: 100%;
  margin-right: .9375rem
}
.delivery__item span {
  padding-top: .625rem
}
.reviews__container {
  text-align: center
}
.reviews__title {
  letter-spacing: -1px;
  color: #f7ce00
}
.reviews__subtitle {
  color: #fff
}
.reviews__body {
  display: flex;
  gap: 3.125rem;
  justify-content: space-between
}
.reviews__bottom {
  background-color: #f7ce00
}
.item-reviews {
  line-height: 1.2;
  color: #fff;
  flex: 0 1 33.333%
}
.item-reviews__image {
  width: 8.125rem;
  height: 8.125rem;
  margin: 0 auto;
  border: 2px solid #ebecec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 1.875rem
}
.item-reviews__image img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  padding: .3125rem
}
.item-reviews__title {
  font-size: 1rem;
  margin-bottom: .625rem
}
.item-reviews__subtitle {
  font-size: .875rem
}
.item-reviews__text {
  font-size: .875rem
}
.bottom-reviews__container {
  text-align: center;
  position: relative;
  padding: 3.125rem .9375rem
}
.bottom-reviews__img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10%
}
.bottom-reviews__title {
  max-width: 56.875rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  font-weight: 700
}
.questions__container {
  max-width: 85.625rem
}
.spollers__item {
  background-color: #f4e5cd
}
.spollers__title {
  display: flex;
  justify-content: space-between;
  padding: .625rem .9375rem
}
.spollers__body {
  background-color: #fff
}
.spollers__text {
  display: flex;
  justify-content: space-between;
  padding: .625rem .9375rem
}
.brends__container {
  max-width: 85.625rem
}
.brends__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-column-gap: 4.0625rem;
  -moz-column-gap: 4.0625rem;
  column-gap: 4.0625rem;
  row-gap: 4.6875rem
}
.brends__item {
  max-width: 19.375rem;
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center
}
.brends__item img {
  max-width: 100%
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: inline-flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:75em) {
  .title {
    font-size: 4.0625rem
  }
  .header__cover {
    padding-top: 4.6875rem
  }
  .header__cover {
    padding-bottom: 9.375rem
  }
  .header__title {
    font-size: 2.25rem
  }
  .header__subtitle {
    margin-bottom: 3.75rem
  }
  .header__subtitle {
    font-size: 1.5rem
  }
  .menu__list {
    font-size: 1.375rem
  }
  .bottom-footer__body {
    font-size: 1.125rem
  }
  .page__catalog {
    padding-top: 8.125rem
  }
  .page__advantages {
    padding-top: 8.125rem
  }
  .page__advantages {
    padding-bottom: 4.375rem
  }
  .page__delivery {
    padding-top: 4.375rem
  }
  .page__reviews {
    padding-top: 6.875rem
  }
  .page__questions {
    padding-top: 4.6875rem
  }
  .page__questions {
    padding-bottom: 8.125rem
  }
  .page__brends {
    padding-bottom: 12.1875rem
  }
  .catalog__title {
    margin-bottom: 6.25rem
  }
  .catalog__bottom {
    padding-top: 11.875rem
  }
  .catalog__text {
    font-size: 2.25rem
  }
  .catalog__text {
    margin-bottom: 5.625rem
  }
  .items-catalog__image {
    margin-bottom: 3rem
  }
  .items-catalog__description {
    font-size: 1.3125rem
  }
  .advantages__title {
    margin-bottom: 6.25rem
  }
  .delivery__item {
    font-size: 1.3125rem
  }
  .reviews__title {
    margin-bottom: 4.0625rem
  }
  .reviews__subtitle {
    margin-bottom: 4.6875rem
  }
  .reviews__body {
    margin-bottom: 8.75rem
  }
  .item-reviews__subtitle {
    margin-bottom: 4.0625rem
  }
  .bottom-reviews__title {
    font-size: 2.25rem
  }
  .questions__title {
    margin-bottom: 9.375rem
  }
  .brends__title {
    margin-bottom: 9.375rem
  }
}
@media (max-width:100em) {
  .header__absolute {
    bottom: -6.25rem;
    right: -1.25rem
  }
}
@media (max-width:75em) {
  .header__absolute {
    display: none
  }
  .header__title_centr {
    text-align: left
  }
  .header__title_right {
    text-align: left
  }
  .footer__content {
    align-items: center
  }
  .footer__body {
    flex: 0 1 34.375rem
  }
  .footer__map iframe {
    height: 23.75rem
  }
  .items-catalog__body {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1.375rem
  }
  .header__cover {
    padding-top: 3.125rem
  }
  .header__cover {
    padding-bottom: 3.125rem
  }
  .header__title {
    font-size: 1.125rem
  }
  .header__subtitle {
    margin-bottom: 1.875rem
  }
  .header__subtitle {
    font-size: .875rem
  }
  .menu__list {
    font-size: 1rem
  }
  .bottom-footer__body {
    font-size: .875rem
  }
  .page__catalog {
    padding-top: 3.125rem
  }
  .page__advantages {
    padding-top: 3.125rem
  }
  .page__advantages {
    padding-bottom: 1.5625rem
  }
  .page__delivery {
    padding-top: 1.5625rem
  }
  .page__reviews {
    padding-top: 3.125rem
  }
  .page__questions {
    padding-top: 3.125rem
  }
  .page__questions {
    padding-bottom: 3.125rem
  }
  .page__brends {
    padding-bottom: 3.125rem
  }
  .catalog__title {
    margin-bottom: 3.125rem
  }
  .catalog__bottom {
    padding-top: 6.25rem
  }
  .catalog__text {
    font-size: 1.5rem
  }
  .catalog__text {
    margin-bottom: 3.125rem
  }
  .items-catalog__image {
    margin-bottom: 1.25rem
  }
  .items-catalog__description {
    font-size: 1.125rem
  }
  .advantages__title {
    margin-bottom: 3.125rem
  }
  .delivery__item {
    font-size: .875rem
  }
  .reviews__title {
    margin-bottom: 2.5rem
  }
  .reviews__subtitle {
    margin-bottom: 3.125rem
  }
  .reviews__body {
    margin-bottom: 3.125rem
  }
  .item-reviews__subtitle {
    margin-bottom: 1.875rem
  }
  .bottom-reviews__title {
    font-size: 1.125rem
  }
  .questions__title {
    margin-bottom: 1.25rem
  }
  .brends__title {
    margin-bottom: 1.25rem
  }
}
@media (max-width:117.5em) {
  .header__absolute {
    right: 0
  }
}
@media (max-width:88.75em) {
  .bottom-reviews__container {
    padding: 3.125rem .9375rem 0 .9375rem
  }
  .bottom-reviews__img {
    position: static
  }
  .bottom-reviews__title {
    margin-bottom: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .footer__body {
    flex: 0 1 50%
  }
  .footer__contacts {
    padding: 0
  }
  .footer__map iframe {
    height: 18.75rem
  }
  .contacts-footer {
    font-size: .875rem
  }
  .advantages__body {
    grid-template-columns: repeat(2,1fr)
  }
  .reviews__body {
    flex-wrap: wrap;
    justify-content: space-around
  }
  .item-reviews {
    flex: 1 1 auto
  }
  .brends__body {
    justify-content: center;
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem;
    row-gap: 2.1875rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 10
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    position: absolute;
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu span,
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background-color: #000
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  header._header-scroll .fixbutton {
    padding: .625rem .9375rem
  }
  .btn {
    padding: .9375rem 0
  }
  .header__body {
    flex-direction: column
  }
  .header__logo {
    order: 1
  }
  .header__title {
    gap: .3125rem;
    margin-bottom: .9375rem
  }
  .header__buttons {
    flex-direction: column
  }
  .footer__content {
    flex-direction: column;
    align-items: start
  }
  .footer__map {
    width: 100%
  }
  .footer__map iframe {
    height: 12.5rem
  }
  .contacts-footer__image {
    margin-top: 1.875rem;
    text-align: center
  }
  .page__catalog {
    background-size: 100% 75%
  }
  .catalog__button {
    margin-bottom: 1.875rem
  }
  .catalog__btn {
    max-width: 50rem
  }
  .catalog__buttons {
    flex-direction: column;
    align-items: center
  }
  .items-catalog__body {
    grid-template-columns: repeat(1,1fr)
  }
  .delivery__item {
    align-items: start
  }
  .delivery__item img {
    margin-right: .3125rem;
    max-width: 1.5625rem;
    height: 100%
  }
  .delivery__item span {
    padding-top: .1875rem
  }
  .brends__body {
    gap: .9375rem
  }
  .brends__item {
    flex: 0 1 50%
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .advantages__body {
    grid-template-columns: repeat(1,1fr)
  }
}
@media (min-width:20em)and (max-width:75em) {
  @supports (font-size:clamp(1.375rem ,0.3977272727rem + 4.8863636364vw ,4.0625rem)) {
    .title {
      font-size: clamp(1.375rem ,.3977272727rem + 4.8863636364vw ,4.0625rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,0.3977272727rem + 4.8863636364vw ,4.0625rem)) {
    .title {
      font-size: calc(1.375rem + 2.6875*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)) {
    .header__cover {
      padding-top: clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)) {
    .header__cover {
      padding-top: calc(3.125rem + 1.5625*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,0.8522727273rem + 11.3636363636vw ,9.375rem)) {
    .header__cover {
      padding-bottom: clamp(3.125rem ,.8522727273rem + 11.3636363636vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,0.8522727273rem + 11.3636363636vw ,9.375rem)) {
    .header__cover {
      padding-bottom: calc(3.125rem + 6.25*(100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.7159090909rem + 2.0454545455vw ,2.25rem)) {
    .header__title {
      font-size: clamp(1.125rem ,.7159090909rem + 2.0454545455vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.7159090909rem + 2.0454545455vw ,2.25rem)) {
    .header__title {
      font-size: calc(1.125rem + 1.125*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)) {
    .header__subtitle {
      margin-bottom: clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)) {
    .header__subtitle {
      margin-bottom: calc(1.875rem + 1.875*(100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.6477272727rem + 1.1363636364vw ,1.5rem)) {
    .header__subtitle {
      font-size: clamp(.875rem ,.6477272727rem + 1.1363636364vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.6477272727rem + 1.1363636364vw ,1.5rem)) {
    .header__subtitle {
      font-size: calc(.875rem + .625*(100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1rem ,0.8636363636rem + 0.6818181818vw ,1.375rem)) {
    .menu__list {
      font-size: clamp(1rem ,.8636363636rem + .6818181818vw ,1.375rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8636363636rem + 0.6818181818vw ,1.375rem)) {
    .menu__list {
      font-size: calc(1rem + .375*(100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7840909091rem + 0.4545454545vw ,1.125rem)) {
    .bottom-footer__body {
      font-size: clamp(.875rem ,.7840909091rem + .4545454545vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7840909091rem + 0.4545454545vw ,1.125rem)) {
    .bottom-footer__body {
      font-size: calc(.875rem + .25*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)) {
    .page__catalog {
      padding-top: clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)) {
    .page__catalog {
      padding-top: calc(3.125rem + 5*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)) {
    .page__advantages {
      padding-top: clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)) {
    .page__advantages {
      padding-top: calc(3.125rem + 5*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(1.5625rem ,0.5397727273rem + 5.1136363636vw ,4.375rem)) {
    .page__advantages {
      padding-bottom: clamp(1.5625rem ,.5397727273rem + 5.1136363636vw ,4.375rem)
    }
  }
  @supports not (padding-bottom:clamp(1.5625rem ,0.5397727273rem + 5.1136363636vw ,4.375rem)) {
    .page__advantages {
      padding-bottom: calc(1.5625rem + 2.8125*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(1.5625rem ,0.5397727273rem + 5.1136363636vw ,4.375rem)) {
    .page__delivery {
      padding-top: clamp(1.5625rem ,.5397727273rem + 5.1136363636vw ,4.375rem)
    }
  }
  @supports not (padding-top:clamp(1.5625rem ,0.5397727273rem + 5.1136363636vw ,4.375rem)) {
    .page__delivery {
      padding-top: calc(1.5625rem + 2.8125*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.7613636364rem + 6.8181818182vw ,6.875rem)) {
    .page__reviews {
      padding-top: clamp(3.125rem ,1.7613636364rem + 6.8181818182vw ,6.875rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.7613636364rem + 6.8181818182vw ,6.875rem)) {
    .page__reviews {
      padding-top: calc(3.125rem + 3.75*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)) {
    .page__questions {
      padding-top: clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)) {
    .page__questions {
      padding-top: calc(3.125rem + 1.5625*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)) {
    .page__questions {
      padding-bottom: clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.3068181818rem + 9.0909090909vw ,8.125rem)) {
    .page__questions {
      padding-bottom: calc(3.125rem + 5*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,-0.1704545455rem + 16.4772727273vw ,12.1875rem)) {
    .page__brends {
      padding-bottom: clamp(3.125rem ,-.1704545455rem + 16.4772727273vw ,12.1875rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,-0.1704545455rem + 16.4772727273vw ,12.1875rem)) {
    .page__brends {
      padding-bottom: calc(3.125rem + 9.0625*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .catalog__title {
      margin-bottom: clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .catalog__title {
      margin-bottom: calc(3.125rem + 3.125*(100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(6.25rem ,4.2045454545rem + 10.2272727273vw ,11.875rem)) {
    .catalog__bottom {
      padding-top: clamp(6.25rem ,4.2045454545rem + 10.2272727273vw ,11.875rem)
    }
  }
  @supports not (padding-top:clamp(6.25rem ,4.2045454545rem + 10.2272727273vw ,11.875rem)) {
    .catalog__bottom {
      padding-top: calc(6.25rem + 5.625*(100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.2272727273rem + 1.3636363636vw ,2.25rem)) {
    .catalog__text {
      font-size: clamp(1.5rem ,1.2272727273rem + 1.3636363636vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.2272727273rem + 1.3636363636vw ,2.25rem)) {
    .catalog__text {
      font-size: calc(1.5rem + .75*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2159090909rem + 4.5454545455vw ,5.625rem)) {
    .catalog__text {
      margin-bottom: clamp(3.125rem ,2.2159090909rem + 4.5454545455vw ,5.625rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2159090909rem + 4.5454545455vw ,5.625rem)) {
    .catalog__text {
      margin-bottom: calc(3.125rem + 2.5*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.6136363636rem + 3.1818181818vw ,3rem)) {
    .items-catalog__image {
      margin-bottom: clamp(1.25rem ,.6136363636rem + 3.1818181818vw ,3rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.6136363636rem + 3.1818181818vw ,3rem)) {
    .items-catalog__image {
      margin-bottom: calc(1.25rem + 1.75*(100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0568181818rem + 0.3409090909vw ,1.3125rem)) {
    .items-catalog__description {
      font-size: clamp(1.125rem ,1.0568181818rem + .3409090909vw ,1.3125rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0568181818rem + 0.3409090909vw ,1.3125rem)) {
    .items-catalog__description {
      font-size: calc(1.125rem + .1875*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .advantages__title {
      margin-bottom: clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,1.9886363636rem + 5.6818181818vw ,6.25rem)) {
    .advantages__title {
      margin-bottom: calc(3.125rem + 3.125*(100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7159090909rem + 0.7954545455vw ,1.3125rem)) {
    .delivery__item {
      font-size: clamp(.875rem ,.7159090909rem + .7954545455vw ,1.3125rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7159090909rem + 0.7954545455vw ,1.3125rem)) {
    .delivery__item {
      font-size: calc(.875rem + .4375*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.9318181818rem + 2.8409090909vw ,4.0625rem)) {
    .reviews__title {
      margin-bottom: clamp(2.5rem ,1.9318181818rem + 2.8409090909vw ,4.0625rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.9318181818rem + 2.8409090909vw ,4.0625rem)) {
    .reviews__title {
      margin-bottom: calc(2.5rem + 1.5625*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)) {
    .reviews__subtitle {
      margin-bottom: clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.5568181818rem + 2.8409090909vw ,4.6875rem)) {
    .reviews__subtitle {
      margin-bottom: calc(3.125rem + 1.5625*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,1.0795454545rem + 10.2272727273vw ,8.75rem)) {
    .reviews__body {
      margin-bottom: clamp(3.125rem ,1.0795454545rem + 10.2272727273vw ,8.75rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,1.0795454545rem + 10.2272727273vw ,8.75rem)) {
    .reviews__body {
      margin-bottom: calc(3.125rem + 5.625*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.0795454545rem + 3.9772727273vw ,4.0625rem)) {
    .item-reviews__subtitle {
      margin-bottom: clamp(1.875rem ,1.0795454545rem + 3.9772727273vw ,4.0625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.0795454545rem + 3.9772727273vw ,4.0625rem)) {
    .item-reviews__subtitle {
      margin-bottom: calc(1.875rem + 2.1875*(100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.7159090909rem + 2.0454545455vw ,2.25rem)) {
    .bottom-reviews__title {
      font-size: clamp(1.125rem ,.7159090909rem + 2.0454545455vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.7159090909rem + 2.0454545455vw ,2.25rem)) {
    .bottom-reviews__title {
      font-size: calc(1.125rem + 1.125*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,-1.7045454545rem + 14.7727272727vw ,9.375rem)) {
    .questions__title {
      margin-bottom: clamp(1.25rem ,-1.7045454545rem + 14.7727272727vw ,9.375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,-1.7045454545rem + 14.7727272727vw ,9.375rem)) {
    .questions__title {
      margin-bottom: calc(1.25rem + 8.125*(100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,-1.7045454545rem + 14.7727272727vw ,9.375rem)) {
    .brends__title {
      margin-bottom: clamp(1.25rem ,-1.7045454545rem + 14.7727272727vw ,9.375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,-1.7045454545rem + 14.7727272727vw ,9.375rem)) {
    .brends__title {
      margin-bottom: calc(1.25rem + 8.125*(100vw - 20rem)/ 55)
    }
  }
}
@media (any-hover:hover) {
  header._header-scroll .fixbutton:hover {
    background-color: #f7ce00
  }
  .btn:hover {
    box-shadow: 0 0 5px #f7ce00
  }
  .header__phone:hover {
    color: #f7ce00
  }
  .header__phone:hover::before {
    color: #000
  }
  .header__mail:hover {
    color: #f7ce00
  }
  .header__mail:hover::before {
    color: #000
  }
  .menu__link:hover {
    text-decoration: underline
  }
  .contacts-footer__phone:hover::before {
    color: #f7ce00
  }
  .contacts-footer__mail:hover::before {
    color: #f7ce00
  }
  .column-footer__adress a:hover {
    text-decoration: underline
  }
  .bottom-footer__seo a:hover {
    color: #f7ce00
  }
  .bottom-footer__politic:hover {
    text-decoration: underline
  }
}